.navBar {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 15px;
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.navLink:hover {
  text-decoration: underline;
}
