/* resultsPage.module.css */

.resultsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; /* Adjusted to take up more of the screen */
}

.clusterContainer {
  padding: 40px; /* Increased padding */
  border-radius: 8px;
  max-width: 800px; /* Increased max width */
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Added a light background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added a subtle box shadow */
}

.lyriaCluster {
  background-color: blue;
  color: white;
}

.cygnusCluster {
  background-color: gold;
  color: white;
}

.cassiopeCluster {
  background-color: forestgreen;
  color: white;
}

.athenaeCluster {
  background-color: gray;
  color: white;
}

.errorMessage {
  font-size: 18px;
  color: red;
}
